@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";

$btn-size: 40px;
$header-width: 17%;

.dark-theme {
}

.carousel-component {
  position: relative;
  .btn.rounded-circle {
    width: $btn-size;
    height: $btn-size;
  }

  header {
    position: absolute;
    width: $header-width;
    left: $header-width;
  }

  footer {
    margin-top: -90px;
  }
}

@include media-breakpoint-down(lg) {
  .carousel-component {
    header {
      left: $header-width / 2;
    }
  }
}

@include media-breakpoint-down(md) {
  .carousel-component {
    header {
      left: 0;
    }
  }
}
