<div [ngClass]="{ 'carousel-card': true, selected: selected }" *ngIf="item">
  <div class="card shadow">
    <svg
      class="bd-placeholder-img card-img-top"
      width="100%"
      [attr.height]="selected ? 200 : 120"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder: Image cap"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#868e96"></rect>
      <text x="20%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
    </svg>
    <div class="card-body">
      <h4 class="card-title text-center">{{ item.title }}</h4>
      <p class="text-center" *ngIf="selected">
        <a href="{{ item.cta.href }}">{{ item.cta.text }}</a>
      </p>
    </div>
  </div>
</div>
